.homepage{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}
img{
    position: relative;
    margin-top: 10%;
    left: 60%;
    border-radius: 50%;
    border: 5px solid #767D92;
    max-width: 100%;
    width: 100%;
    height: auto !important;
}
h1{
    margin-left: 1rem;
    margin-right: 1rem;
    color: #767D92;
    max-width: 45rem;
}
h2{
    margin-left: 1rem;
    margin-right: 1rem;
    color: #767D92;
    max-width: 45rem;
}
p{
    margin-left: 1rem;
    margin-right: 1rem;
    color: #767D92;
    max-width: 45rem;
}
li{
    margin-left: 1rem;
    margin-right: 1rem;
    color: #767D92;
    max-width: 45rem;
}
@media (max-width:767px) {
    img {
        max-width: 80px;
        max-height: 80px;
    }
}

@media (min-width:768px) {
    img {
        max-width: 120px;
        max-height: 120px;
    }
}

@media (min-width:992px) {
    img {
        max-width: 140px;
        max-height: 140px;
    }
}

@media (min-width:1200px) {
    img {
        max-width: 180px;
        max-height: 180px;
    }
}
