<div class="homepage">

    <body>
        <img src="../../assets/headshot.jpg"
            alt="image not avaliable :(">
        <h2>WELCOME!</h2>
        <h1>My name's Ryon.</h1>
        <p>I'm a full stack engineer beginning to enter the workforce. Thanks for checking out my page, make sure to
            check back frequently to see what new things I add!</p>
        <br><br>
        <h2 style="color: orange;">BLOG</h2>
        <h1 style="margin-bottom:20px;">Most recent posts:</h1>
        <a class="blog" routerLink="blog/internship-report">
            <h3>Internship Report</h3>
            <p>Here, I go into detail about my experience interning for Cognizant's Digital Engineering department as a
                full
                stack developer.</p>
        </a>
        <br><br>
        <h2 style="color: greenyellow">LINKS</h2>
        <a href="https://www.linkedin.com/in/ryon-cook-a75105196/" target="_blank" rel="noopener noreferrer">LinkedIn</a>
        <a href="https://github.com/ryon137" target="_blank" rel="noopener noreferrer">GitHub</a>
    </body>
</div>