<div class="blog">

    <body>
        <h2>ABOUT ME</h2>
        <h1>Who am I?</h1>
        <p>Hi everyone!  My name is Ryon Cook, as you probably already know.  I am a recent graduate from Northern Illinois University. I recieved my bachelors degree in computer science, with an emphasis on enterprise software and a minor in business administration.</p>
        <p>I enjoy all things software development.  I am a trained full stack engineer, and love applying these skills to personal projects, such as this one!</p>
        <p>C++ and Java are my languages of choice, but recently I have developed a passion for front-end projects using Javascript/Typescript.</p>
        <p>Thanks for checking out my website!  I will be continually updating it with new information and new blog posts, so stay tuned.</p>
    </body>
</div>