<div class="blog">

    <body>
        <h2>ABOUT ME</h2>
        <h1>Who am I?</h1>
        <p>Hi everyone! My name is Ryon Cook, as you probably already know. I am a recent graduate from Northern
            Illinois University, currently working at Cognizant as a Full-Stack Engineer.
            I received my bachelor's degree in Computer Science, with an emphasis on Enterprise
            Software and a minor in Business Administration.</p>
        <p>I enjoy all things software development. I love applying my professional skills
            to personal projects, such as this one!</p>
        <p>My main tech stack is Angular Java/SpringBoot. I specialize in AWS, but I am open to learning new
            technologies.
            I learned C++ in my education, and eagerly await the opportunity to utilize it professionally.
        </p>
        <p>Career wise, my goal is to one day be on the executive team of a company, representing the technology
            department. That being said, I am open to following whatever path presents itself, and I am hopeful that I
            will be able to attend grad school in the near future. What will I specifically study, I have yet to
            determine./p>
        <p>I am eager to learn, now more than ever. Feel free to email me any good books or articles you have read.</p>
        <p>Thanks for checking out my website! I will be continually updating it with new information and new blog
            posts, so stay tuned.</p>
        <h1>Contact Info</h1>
        <h3>Email</h3>
        <p>ryon137@gmail.com</p>
        <br>
        <h1>Projects</h1>
        <p>Interested in seeing some of the things I have worked on? Take a look.</p>
        <br>
        <a href="https://dota2protractor.com" target="_blank" style="margin-left: 1rem; margin-right: 1rem;
        color: rgb(180, 219, 102); max-width: 45rem; 
        font-family: Inter, rial,Helvetica,sans-serif; font-size: 1rem">dota2protractor.com</a><br><br>
        <p>This is a web application that I built myself. Dota 2 is a video game that I have played for many years, and
            the developers have API's available
            for anyone to use. I incorporated some of those, as well as my own, to create a service that takes a
            player's ID, and displays information about
            their most recent game. A user is also able to save their games, as well as other user's games. Want to test
            it out? Here are some ID's to try:
        </p>
        <p>66914827</p>
        <p>106479676</p>
        <p>Just copy one of those, and enter it into the search! Don't forget to create an account to unlock the rest of
            the functionality.</p>
        <p>This project was created with Angular as the front-end and Java SpringBoot as the backend. I hosted the
            front-end on a Digital Ocean Dropplet,
            and the backend on AWS Elastic Beanstalk. The database is also an AWS product. All endpoints are SSL
            encrypted with HTTPS.
        </p>
        <br>
        <h3>BuyMyStuff</h3>
        <p>This is a web application that I worked on while I was an intern at Cognizant. In just one week, we
            were able to build this site, using an Angular/Bootstrap stack. We built both the front and back end from
            scratch, utilizing our newly developed skills.</p>
        <br>
        <h3>Greenpod</h3>
        <img src="assets\Greenpod1.PNG" alt="image not avaliable :(">
        <br>
        <img src="assets\Greenpod2.PNG" alt="image not avaliable :(">
        <p>Another project worked on with my fellow interns. This one, however, is an actual client project (just
            without a client- yet!).</p>
        <p>The goal of this site is to show users their carbon footprint, and what they can do to offset it. Using the
            same framework as BuyMyStuff, Greenpod has 3 backend microservices, as well as a working database.</p>
        <br>
        <p>For both of the above applications, concepts such as Test Driven Development (TDD) and Agile were used.
            Furthermore, a jenkins pipeline was implemented, which required an 85% code coverage in order to pass, as
            well as clean code (brought to you by lint).</p>
        <br>
        <h3>RV32I Simulator</h3>
        <p>This is, by far, my favorite university assignment I have ever worked on (up to this point)! This product
            uses C++ to simulate a RISCV Processor, as well as memory and registers, which are both represented as
            vectors.</p>
        <p>The program reads a binary file, and translates it into CPU instructions utilizing the simulated registers to
            move the bits that are in the simulated memory. There are over 50 instructions programmed.</p>
        <p>This was a near-semester long project for my Computer Architecture class. It is safe to say that this
            assignment taught me more about how computers work than anything else I have ever worked on. I hope that my
            future studies somehow involve the kind of work I did here.</p>
        <br>
        <h1>Additional Sources</h1>
        <a href="https://www.linkedin.com/in/ryon-cook-a75105196/" target="_blank"
            rel="noopener noreferrer">LinkedIn</a>
        <a href="https://github.com/ryon137" target="_blank" rel="noopener noreferrer">GitHub</a>
        <br><br><br><br>
    </body>

</div>