.blog{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    margin-top: 1rem;
}
h1{
    margin-left: 1rem;
    margin-right: 1rem;
    color: white;
    max-width: 45rem;
    font-family: Inter,Arial,Helvetica,sans-serif;
    font-size: 20px;
    font-weight: bold;
}
h2{
    margin-left: 1rem;
    margin-right: 1rem;
    color: yellowgreen;
    max-width: 45rem;
    font-family: Inter,Arial,Helvetica,sans-serif;
    font-size: 20px;
}
h3{
    margin-left: 1rem;
    margin-right: 1rem;
    color: #DFDFE5;
    max-width: 45rem;
    font-family: Inter,Arial,Helvetica,sans-serif;
}
p{
    margin-left: 1rem;
    margin-right: 1rem;
    color: #DFDFE5;
    max-width: 45rem;
    font-size: 18px;
    margin-bottom: 20px;
}
li{
    margin-left: 1rem;
    margin-right: 1rem;
    color: #DFDFE5;
    max-width: 45rem;
}
.link{
    margin-left: 1rem;
    margin-right: 1rem;
    color: #DFDFE5;
    max-width: 45rem;
    text-decoration: none;
}