<div class="blog">

    <body>
        <h2>ABOUT ME</h2>
        <h1>Who am I?</h1>
        <p>Hi everyone!  My name is Ryon Cook, as you probably already know.  I am a recent graduate from Northern Illinois University. I recieved my bachelor's degree in Computer Science, with an emphasis on Enterprise Software and a minor in Business Administration.</p>
        <p>I enjoy all things software development.  I am a trained full stack engineer, and love applying these skills to personal projects, such as this one!</p>
        <p>C++ and Java are my languages of choice, but recently I have developed a passion for front-end projects using Javascript/Typescript.</p>
        <p>Carrer wise, my goal is to one day be on the executive team of a company, representing the technology department.  That being said, I am open to following whatever path presents itself, and I am hopeful that I will be able to attend grad school in the near future.  What will I specifically study, I have yet to determine!</p>
        <p>I am eager to learn, now more than ever.  Feel free to email me any good books or articles you have read.</p>
        <p>Thanks for checking out my website!  I will be continually updating it with new information and new blog posts, so stay tuned.</p>
        <h1>Contact Info</h1>
        <h3>Email</h3>
        <p>ryon137@gmail.com</p>
        <br>
        <h1>Projects</h1>
        <h3>Intersted in seeing some of the things I have worked on?  Take a look.</h3>
        <br>
        <h3>BuyMyStuff</h3>
        <p>This is a web application that I worked on with my fellow interns over at Cognizant.  In just one week, we were able to build this site, using an Angular/Bootstrap stack.  We built both the front and back end from scratch, utilizing our newly developed skills.</p>
        <br>
        <h3>Greenpod</h3>
        <p>Another project worked on with my fellow interns.  This one, however, is an actual client project (just without a client- yet!).</p>
        <p>The goal of this site is to show users their carbon footprint, and what they can do to offset it.  Using the same framework as BuyMyStuff, Greenpod has 3 backend microservices, as well as a working database.</p>
        <br>
        <p>For both of the above applications, concepts such as Test Driven Development (TDD) and Agile were used.  Furthermore, a jenkins pipeline was implemented, which required an 85% code coverage in order to pass, as well as clean code (brought to you by lint).</p>
        <br>
        <h3>RV32I Simulator</h3>
        <p>This is, by far, my favorite university assignment I have ever worked on (up to this point)!  This product uses C++ to simulate a RISCV Processor, as well as memory and registers, which are both represented as vectors.</p>  
        <p>The program reads a binary file, and translates it into CPU instructions utilizing the simulated registers to move the bits that are in the simulated memory.  There are over 50 instructions programmed.</p>
        <p>This was a near-semester long project for my Computer Architecture class.  It is safe to say that this assignment taught me more about how computers work than anything else I have ever worked on.  I hope that my future studies somehow involve the kind of work I did here.</p>
    </body>
</div>