<div class="blog">

    <body>
        <h1 style="color:white; font-size: 20px; font-weight: bold;">Internship Report</h1>
        <h3>August 8, 2021</h3>
        <p>
            Getting an internship was something that stressed me out immensely. With my
            final semester at Northern Illinois University approaching, I had no plans
            for what was next. I was nervous that I was not prepared for a “real job”,
            and that if by some fluke I got one, I would immediately be found out and
            let go. My schooling at NIU was valuable, but I was ultimately right. If I
            had jumped into a full-time job, I would have fallen flat on my face, and
            would have experienced failure. My internship at Cognizant as a software
            developer on the Enterprise Engineering team was the transition I needed in
            order to feel ready for the real world. After this experience, I not only
            feel adequate, but confident. I am ready to take on the industry, and I have
            this internship to thank for it.
        </p>
        <p>
            The interview process was a little intimidating, as I got to see so many of
            the candidates and hear what they had to offer, and although I was
            confident, the sheer amount of them made me a bit nervous. Despite that,
            when I finally got the offer, I was ecstatic. I was extremely ready to get
            started with work, and I think my time here at Cognizant so far has
            reflected that.
        </p>
        <p>
            Prior to starting the first day, I had some details on the structure of how
            the internship would work. The first four weeks would be “enablement”, and
            then the next four weeks would be a sort of “trial”. The first day of
            enablement made it fairly clear to me what it was. We were introduced to our
            “enablers'', and immediately got started on what could best be described as
            “crash-courses” on various topics. These topics, of course, were all
            relevant to the work we would be doing in the latter half of our internship.
            The “courses'' were all “taught” by the staff members on the enablement team
            at Cognizant. All on the younger side, late 20’s early 30s. This was
            certainly an advantage, as we were able to relate to them much better than
            any professor I had previously. We started with the backend, and moved to
            the front end over the four-week period. We were taught the full-stack
            experience of software development, and to be quite frank, I learned more in
            these four weeks than I had learned in an entire year at NIU. This
            experience was everything that the Software Development course at NIU should
            have been. Each lesson was about a specific topic, and after the lesson we
            were assigned random partners out of the group of interns. We were then
            tasked with applying what we just learned. The overall learning experience
            was exceptional. While I can admit that I was not 100% engaged in every
            lecture, I quickly caught up by being forced to do what we learned. Having
            access to the examples shown in the lecture, and then immediately doing it
            myself created a learning environment that was extremely advantageous to the
            way that I learn. I can confidently say that as a whole, enablement was
            extremely effective.
        </p>
        <p>
            The group of interns that I worked with really brought the internship to a
            level that I did not think was possible from an eight week program. The
            camaraderie between all of us is something that I will be chasing for the
            rest of my career, not to mention the intellect demonstrated by them. Each
            one truly brought something unique and special to the team that created a
            super fun and productive work environment. Getting one-on-one time with all
            of them, working in small groups, and working as a big team, were all
            amazing experiences that provided me with so much perspective. They not only
            made me a better developer, but a better person.
        </p>
        <p>
            The enablers offered such a unique perspective and guidance. I feel bad for
            anyone going through an internship, at any company, that does not have
            people at their caliber guiding them. It was clear that they worked well as
            a team. They made the work environment fun right from the beginning, while
            also keeping it informative and productive. During the first week, they
            introduced themselves, and had a schedule that they stuck to. We were given
            adequate breaks, and they stopped and made sure we were understanding the
            material often. It always seemed to me that they all wanted to do their job
            to the best of their ability, and their job was to make sure that we
            learned. They seemed to genuinely care about whether or not we were
            learning, and wanted us to get the most out of the experience. It did not
            seem to matter to them whether or not they thought we would end up working
            for Cognizant. They were phenomenal, and it made the first four weeks of the
            internship some of the most beneficial four weeks of my life.
        </p>
        <p>
            Enablement followed a fairly strict schedule. It was obviously well thought
            out. Every morning, we’d spend about 5 minutes with a fun “question of the
            day”, and then jump into working. Every Wednesday, we’d have “lunch and
            learn”, where we would spend lunch learning. That could be anywhere from a
            direct computer science talk, to something completely different. I was not
            the biggest fan of these at first, but they honestly have grown on me over
            the weeks. Friday’s were definitely a reflection day. After lunch, we would
            spend time playing “Kahoot”, which was a fun way for the enablers to gauge
            what we had learned during the week. After that, we’d often do an assessment
            of some kind, or even a hackathon with a partner, strengthening our
            development skills further. After that, we would have a team retro, where we
            would reflect on what went well, what went mediocre, and what went poorly.
            We would always make sure to create action items for the things that went
            poorly. There weren’t many things that went poorly, but when something did,
            it was always addressed. Once we got into the rhythm of lecture, then code,
            everything ran extremely smoothly.
        </p>
        <p>
            As far as what we actually covered during the four weeks, much can be said.
            We learned about Agile methodology, Test Driven Development,
            Paired-Programming, and many other concepts. We used a Java Spring Boot
            Angular stack. Cognizant expected us to already know how to program, and
            thankfully I had already been exposed to Java, having taken it back in high
            school, as well as taking the Java elective here at NIU. Knowing Java was
            essential to working with the backend, but learning Spring Boot was far more
            beneficial when it came to this internship. Since the focus was on learning
            full-stack development, Java was less important, as it was already assumed
            that we are capable of writing complex algorithms in an object-oriented
            language. Learning Spring was probably the most difficult part of the
            internship for me. The transition from vacation into a learning environment,
            as well as using tools I had no exposure to, definitely threw me for a loop.
            Towards the end of the first week, I definitely felt like I was lagging
            behind, and I was worried that the rest of the internship would involve me
            playing catch up. Luckily, this was not the case. Although it took time, I
            gradually understood the concept of MVC. I figured out how the controller,
            service, model, and repository all worked together to connect a client and
            the webhost. To make this all possible, we used Intellij, something I had
            used before in my Java class. We also used Postman to test the endpoints. We
            were taught how to use H2 to mock a database, before eventually being given
            one to use.
        </p>
        <p>
            Testing is something that the developers at Cognizant emphasised greatly. To
            them, it was just as important as the code itself. I had never been exposed
            to the level of methodical testing demonstrated before, and it has certainly
            been to my benefit. In order for code to pass the pipeline, we had to have
            80% of our code covered, which was bumped up to 85% later on. This meant
            that virtually every method that was written needed to be tested, and
            virtually every line. This definitely can feel annoying at times, as having
            to write tests for things that you are pretty sure work can seem redundant.
            However, writing tests future proofs your code. By having a test for every
            method, once you add something and something breaks, you can go back and see
            what test failed, and it makes debugging so much easier. If you are going to
            do things on the scale the Cognizant does them, it is imperative that you
            thoroughly test your code.
        </p>
        <p>
            Since we had never written tests before, we had to be taught how to. We
            quickly learned that you can use tools like Junit and Mockcito to test.
            Mockito lets you “Mock” things, so that you can operate under the assumption
            that they work. This allows you to isolate things, which in turn allow each
            test to test 1 specific thing. We also learned the difference between
            integration testing and unit testing. We were also taught test driven
            development, which is basically a completely different way to develop code.
            Instead of writing the code first, you write tests for them, and then you
            code. This seemed like a very backwards approach. While I understand the
            benefit, and I do see the value, I definitely prefer regular development.
            All in all, learning the backend of full-stack development went smoothly.
        </p>
        <p>
            Once we were finished with learning the back-end, we quickly transitioned to
            the front-end. This was something that I was a little more familiar with, as
            my group project for school had me doing some front end development using
            React. However, we were taught Angular. After being introduced, there did
            not seem to be any glaring differences between the two, so I was able to
            learn quicker than the back-end. Learning Angular was more fun to me; the
            approach was much more hands-on. We quickly jumped into spending a couple
            days making an application that pulled data from a Pokemon API, and it felt
            extremely rewarding. In just a few days, we were able to make a website that
            took two random Pokemon, compared their stats, and chose a winner. Using
            VSCode to do this was very familiar, as it was the tool I had used for most
            of my programming at NIU. Completing this project boosted my confidence.
        </p>
        <p>
            As with the back-end, we were also taught to test in the front end. With
            code coverage being the same, it proved to be an equal task, but by now, we
            understood the concept, so it went much smoother. At this point, I was not
            totally confident in my abilities, but I was confident enough to be eager to
            get started on a larger scale project.
        </p>
        <p>
            After we had been taught the full stack, we were given our first project: an
            auction website (a la eBay). Before this point, we had been slowly building
            it in pairs after every lesson, so we had a lot of code to choose from. We
            selected the best CRUD for the backend, and we created a FEMS (front-end
            microservice) to act as the bridge between each microservice and the client.
            From here, we selected the best front end of the homepage that one group had
            built, and we jumped into a week of agile.
        </p>
        <p>
            Getting a test week of agile was a great experience. We quickly had to learn
            what it was like to work as a big team, without any direction besides a
            daily standup. We still had the enablers at our disposal, but we were on our
            own in a sense. We chose 3 stories to go with for the week's goal, and got
            to work. In that time, we successfully built a page for the auction details,
            we heavily modified the homepage, and even implemented pagination (a pain
            point for some of my fellow interns). At the end of the week, we presented
            our work in the form of a demo, in front of the enablers, as well as four
            other software development teams that were going through a similar process,
            but with much less direction. We were very proud of the work we had done,
            and were very ready to take on an even larger project.
        </p>
        <p>
            After the first four weeks, there was a clear transition. We were officially
            done with enablement, and were now put on “the bench”. The bench is where
            cognizant software developers go when they do not have current client
            projects. Here, they are allocated to various tasks. Our task on the bench
            was to work on something called “Greenpod”. This was a website that had been
            created by another batch of interns, that did not have a client, but was,
            and is being pitched to clients. What we were working on is a sort of
            “proof-of-concept”, and the company has every intention of making this
            production code. As such it was treated as a real project, and we were
            assigned a project lead, as well as an architect. There was also a senior
            dev who was there to help, as well as “buddies”. Every intern was paired
            with a buddy, someone who was on the bench. A lot of them were previous
            interns, and their perspective was definitely valuable.
        </p>
        <p>
            Once work went under way, there were definitely some things that were
            disappointing. The senior developer assigned to us was also on a client
            project, and because of this, he was not as available as the enablers were.
            Nothing against him, he was great and helpful when he had the time, but the
            lack of senior development help definitely slowed things down a bit.
            Furthermore, the architect was unreachable for the first few weeks, and
            because of this, the direction we were supposed to go in was not very clear.
            The agile board started with tasks that the previous batch of interns had
            worked on, or had created that they thought would be good additions to the
            website. Despite these inconveniences, we worked hard and to the best of our
            abilities, and I definitely still got a lot out of it. The independence that
            we were given definitely strengthened my skills, and the sheer amount of
            time spent got me used to the development cycle.
        </p>
        <p>
            The first week, I worked with just one coworker, and my buddy sat into our
            calls a lot. We worked well together, and did not run into too much trouble.
            We were all put on teams of four, but for the first few tasks, we split up,
            in order to be more efficient. Towards the end of the first week, we took on
            a task that was rather large, and by the end we had grouped up with the rest
            of our group to complete it. The task was, as we understood it, to create a
            FEMS, like we had created previously, for the Greenpod website. We spent a
            few days working on it, and we ran into some roadblocks, but were able to
            resolve them. However, as we wrapped up the task, we needed help figuring
            out how to create a pipeline to it, and getting it deployed as its own
            service. We spent a good chunk of the day on calls with some other senior
            devs we pulled in, and after much struggle, we were successful. It felt
            extremely gratifying to get it to work. It was much to my dismay, that when
            we consulted the senior developer, we were informed that that task was
            actually a “spike” task, and that all we were supposed to do was do research
            to see if the microservices even needed to communicate with each other. The
            lack of direction on this project really hurt on that one. However, we got
            past the misunderstanding, because it was clearly no one's fault who was
            involved, and we still learned a lot from the experience.
        </p>
        <p>
            From this moment on, we worked as a group of four in our team, and the other
            2 teams did the same. There was frequent collaboration between the teams, as
            we needed to communicate when someone was pushing something to the deployed
            “develop” branch, or when someone found a new bug that needed urgent fixing.
            The second week definitely went a bit slower, as there simply were not
            enough tasks on the board. However, we still took the time to be productive,
            and the next two weeks would provide better results.
        </p>
        <p>
            Once week three started, our project manager was able to successfully
            contact the architect and have a meeting. From this meeting, he was able to
            create many tasks for us to do that were marked with high-priority. This was
            great news to us, and we immediately got to work. During the week, we also
            got a chance to have a meeting with the architect, which helped us answer a
            lot of questions we had in regard to Greenpod. We now better understood what
            this project was trying to be, and what needed to be done.
        </p>
        <p>
            During this time, one of the tasks our group took on was modifying the
            navigation bar. Using just html and css, we were able to create a nav bar
            that allowed hovering drop downs, underlined the link your mouse was
            hovering, and highlighted the text green when you were on that page. When we
            received positive feedback on the design and implementation, I felt very
            good about it.
        </p>
        <p>
            Another task we took on was adding more carbon calculators to the website.
            Although this needed both a front and back-end implementation, the specific
            task was just the backend. We were able to create the logic for the
            calculators in Java, and added the routing to the controller.
        </p>
        <p>
            All of the tasks, both those mentioned and others, gave us ample experience
            in both the front and back-end. Although not every task felt extremely
            meaningful, the experience that I got when it comes to full-stack
            development in the last four weeks was immense.
        </p>
        <p>
            Overall, the last four weeks were not as good as the first four. It is hard
            to compare the two, as they were completely different experiences. The first
            month had much more hand-holding, but it was also much better put together.
            The second month was a logistical mess at times, but the amount of
            experience I got from it went unmatched. Being able to work with my peers on
            different tasks was extremely helpful to my own growth as a software
            developer. Being able to watch others code and see how they think, as well
            as have others watch me and give me tips was incredible.
        </p>
        <p>
            My expectations for this internship were certainly high. I was hoping that
            getting an internship such as this would help bridge the gap between school
            and the real world. As previously mentioned, I was not as confident in my
            real-world programming skills, and my hope was that this internship would
            get me there. I am blown away by how ready I feel at the end of the eight
            weeks. Going to NIU was a great experience, and I am happy with my education
            there, but it does not compare for a second to this internship at Cognizant.
            It had its highs and lows, but I am leaving this internship ready to work as
            a full-stack developer. Whether that be for Cognizant, or another company, I
            have them to thank for it, and NIU for making this an option for me.
        </p>
        <p>
            The internship at Cognizant provided me with difficult, challenging work.
            There were many times that I felt stuck, or discouraged, and certainly
            wanted to give up. However, the environment at Cognizant, as well as the
            support of my fellow interns, helped me to get through those times, and gave
            me so much knowledge and experience.
        </p>
        <p>
            The group of interns that I worked with were simply fantastic. This was
            probably the most unexpected thing, despite what I have mentioned before.
            Within the first week, we had already bonded to an extent, and by the fifth
            week, it felt like a giant friend group. We all got along excellently,
            despite all being very different. The diversity in the group was not only
            great to see, but I really believe that it enhanced the experience. I even
            quickly started to play video games with some of them after work. Cognizant
            has not only given me knowledge and experience, but new friends.
        </p>
        <p>
            In conclusion, my internship experience at Cognizant was fantastic. It was
            not perfect, specifically the later part, but it still greatly exceeded my
            expectations. It was unlike anything I had experienced before, and hopefully
            it is something I will get to experience more. I take away a vast amount of
            new knowledge and experience that I am extremely grateful for, and will
            carry with me for the foreseeable future. I hope that Cognizant continues to
            have this internship program, because it is actively enabling college
            students to excel, and offers real world experience that is simply
            unmatched. Thank you Cognizant for this opportunity, and thank you Northern
            Illinois University for allowing this to count as credit. I cannot think of
            a better way to wrap up my degree than an internship of this caliber.
        </p>
    </body>
</div>