.navbar-brand{
  position: sticky;
  left: 35%;
  transform: translatex(-50%);
}
.navbar-nav.mr-auto {
  position: absolute;
  left: 60%;
  transform: translatex(-50%);
}
.navbar{
  padding-top: 20px;
  padding-bottom: 20px;
}
