.blog{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    margin-top: 1rem;
}
h1{
    margin-left: 1rem;
    margin-right: 1rem;
    color: #767D92;
    max-width: 45rem;
}
h2{
    margin-left: 1rem;
    margin-right: 1rem;
    color: #767D92;
    max-width: 45rem;
}
p{
    margin-left: 1rem;
    margin-right: 1rem;
    color: #767D92;
    max-width: 45rem;
}
li{
    margin-left: 1rem;
    margin-right: 1rem;
    color: #767D92;
    max-width: 45rem;
}