/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body, h1, h2, h3 { margin: 0; font-family: Inter,Arial,Helvetica,sans-serif; background-color: #081B33;}


@import "~bootstrap/dist/css/bootstrap.css"

